// Variables
$break-sm: 375px;
$break-md: 768px;
$break-lg: 1024px;

$primary-color: #e6e6e6;
$secondary-color: #008000;

body {
	margin: 0;
}

// ----------------- HEADER ------------------ //
header {
	background-color: $primary-color;

	.nav-brand {
		text-decoration: none;
		color: #4c4c4c;
		font-size: 2em;
		padding: 10px;
		text-align: center;
		font-family: 'Istok Web', sans-serif;
		&:hover {
			cursor: pointer;
		}
		@media screen and (min-width: $break-md) {
			margin: auto;
			display: inline;
			text-align: left;
			padding-left: 2rem;
		}
		@media screen and (min-width: $break-lg) {
			font-size: 3.5rem;
		}
		i {
			color: $secondary-color;
		}
	}
}

.main-nav {
	margin: auto;
	padding: 0;
	padding-bottom: 2em;
	list-style-type: none;
	@media screen and (min-width: $break-md) {
		display: inline;
		padding-bottom: 0;
		text-align: right;
		padding-right: 1rem;
		width: 50%;
	}

	li {
		display: block;
		padding: 0;
		font-family: 'Exo', sans-serif;
		@media screen and (min-width: $break-md) {
			display: inline;
		}
		@media screen and (min-width: $break-lg) {
			font-size: 1em;
		}
		a {
			text-decoration: none;
			color: black;
			background-color: white;
			width: 100%;
			display: block;
			height: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			&:hover {
				background-color: #008040;
				cursor: pointer;
			}
			@media screen and (min-width: $break-md) {
				padding: 0.2em 1em;
				display: inline;
			}
		}
	}
}

.active {
	background-color: $secondary-color !important;
	color: white !important;
}

// ----------------------- MAIN CONTENT -------------------------- //
// ------------ HOME

.image {
	background: url('https://unsplash.it/800/500/?random') no-repeat;
	background-size: cover;
	padding: 3em;
	h1 {
		font-size: 1.5em;
	}
	p {
		font-size: 0.75em;
	}
	h1,
	p {
		color: #333333;
		font-family: 'Maven Pro', sans-serif;
	}
	a {
		display: block;
	}
}
@media screen and (min-width: $break-md) {
	.image {
		padding: 5em;
		a {
			display: inline;
		}
		h1 {
			font-size: 2em;
		}
		p {
			font-size: 1em;
		}
	}
}

// -------------- /HOME

// -------------- LETTER

.letter-container {
	padding: 2rem;
	h1 {
		font-size: 2rem;
		font-family: 'Maven Pro', sans-serif;
	}
	p {
		font-size: 1rem;
		padding-top: 1rem;
		font-family: 'Maven Pro', sans-serif;
	}
}
.letter {
	input,
	textarea,
	label,
	select,
	option {
		font-family: 'Exo', sans-serif;
	}
	label {
		font-weight: bold;
	}
	input:focus,
	textarea:focus,
	select:focus {
		border-color: $secondary-color;
	}
}
@media screen and (min-width: $break-md) {
	.letter-container {
		max-width: 70%;
	}
	select {
		max-width: 25%;
	}
}

// -------------- /LETTER

// ----------------------- /MAIN CONTENT -------------------------- //

// ----------------- FOOTER ------------------ //
footer {
	background-color: $primary-color;
	p,
	a {
		font-family: 'Exo', sans-serif;
	}
	h2,
	h3 {
		font-family: 'Maven Pro', sans-serif;
	}
}
.hr-title {
	width: 50%;
}
.footer-navbar {
	list-style: none;
	li {
		display: block;
		padding: 5px;
		a:link,
		a:visited {
			color: black;
			text-decoration: none;
		}
		a:hover {
			color: $secondary-color;
		}
		@media screen and (min-width: $break-lg) {
			display: inline-block;
		}
	}
}
.fa-info-circle {
	display: none;
}
.copyright {
	color: #b3b3b3;
	font-size: 0.75em;
	padding-bottom: 2rem;
	display: block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: $break-md) {
	.hr-contact {
		display: none;
	}
	.about-us {
		border-right: #a1a1a1 1px solid;
		height: 50%;
	}
	.fa-info-circle {
		display: block;
		color: $secondary-color;
	}
}
@media screen and (min-width: $break-lg) {
	.contact-div {
		max-width: 55%;
		margin: auto;
	}
}
