body {
  margin: 0; }

header {
  background-color: #e6e6e6; }
  header .nav-brand {
    text-decoration: none;
    color: #4c4c4c;
    font-size: 2em;
    padding: 10px;
    text-align: center;
    font-family: 'Istok Web', sans-serif; }
    header .nav-brand:hover {
      cursor: pointer; }
    @media screen and (min-width: 768px) {
      header .nav-brand {
        margin: auto;
        display: inline;
        text-align: left;
        padding-left: 2rem; } }
    @media screen and (min-width: 1024px) {
      header .nav-brand {
        font-size: 3.5rem; } }
    header .nav-brand i {
      color: #008000; }

.main-nav {
  margin: auto;
  padding: 0;
  padding-bottom: 2em;
  list-style-type: none; }
  @media screen and (min-width: 768px) {
    .main-nav {
      display: inline;
      padding-bottom: 0;
      text-align: right;
      padding-right: 1rem;
      width: 50%; } }
  .main-nav li {
    display: block;
    padding: 0;
    font-family: 'Exo', sans-serif; }
    @media screen and (min-width: 768px) {
      .main-nav li {
        display: inline; } }
    @media screen and (min-width: 1024px) {
      .main-nav li {
        font-size: 1em; } }
    .main-nav li a {
      text-decoration: none;
      color: black;
      background-color: white;
      width: 100%;
      display: block;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px; }
      .main-nav li a:hover {
        background-color: #008040;
        cursor: pointer; }
      @media screen and (min-width: 768px) {
        .main-nav li a {
          padding: 0.2em 1em;
          display: inline; } }

.active {
  background-color: #008000 !important;
  color: white !important; }

.image {
  background: url("https://unsplash.it/800/500/?random") no-repeat;
  background-size: cover;
  padding: 3em; }
  .image h1 {
    font-size: 1.5em; }
  .image p {
    font-size: 0.75em; }
  .image h1,
  .image p {
    color: #333333;
    font-family: 'Maven Pro', sans-serif; }
  .image a {
    display: block; }

@media screen and (min-width: 768px) {
  .image {
    padding: 5em; }
    .image a {
      display: inline; }
    .image h1 {
      font-size: 2em; }
    .image p {
      font-size: 1em; } }
.letter-container {
  padding: 2rem; }
  .letter-container h1 {
    font-size: 2rem;
    font-family: 'Maven Pro', sans-serif; }
  .letter-container p {
    font-size: 1rem;
    padding-top: 1rem;
    font-family: 'Maven Pro', sans-serif; }

.letter input,
.letter textarea,
.letter label,
.letter select,
.letter option {
  font-family: 'Exo', sans-serif; }
.letter label {
  font-weight: bold; }
.letter input:focus,
.letter textarea:focus,
.letter select:focus {
  border-color: #008000; }

@media screen and (min-width: 768px) {
  .letter-container {
    max-width: 70%; }

  select {
    max-width: 25%; } }
footer {
  background-color: #e6e6e6; }
  footer p,
  footer a {
    font-family: 'Exo', sans-serif; }
  footer h2,
  footer h3 {
    font-family: 'Maven Pro', sans-serif; }

.hr-title {
  width: 50%; }

.footer-navbar {
  list-style: none; }
  .footer-navbar li {
    display: block;
    padding: 5px; }
    .footer-navbar li a:link,
    .footer-navbar li a:visited {
      color: black;
      text-decoration: none; }
    .footer-navbar li a:hover {
      color: #008000; }
    @media screen and (min-width: 1024px) {
      .footer-navbar li {
        display: inline-block; } }

.fa-info-circle {
  display: none; }

.copyright {
  color: #b3b3b3;
  font-size: 0.75em;
  padding-bottom: 2rem;
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

@media screen and (min-width: 768px) {
  .hr-contact {
    display: none; }

  .about-us {
    border-right: #a1a1a1 1px solid;
    height: 50%; }

  .fa-info-circle {
    display: block;
    color: #008000; } }
@media screen and (min-width: 1024px) {
  .contact-div {
    max-width: 55%;
    margin: auto; } }

/*# sourceMappingURL=stylesheets.css.map */
